.Logo {
  height: 100%;
  flex: 0.25;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo svg {
  width: 100%;
  min-height: 52px;
  height: 100%;
}

.White {
  stroke: #E6E6E6;
  fill: #E6E6E6;
}

.Black {
  stroke: rgb(21, 21, 21);
  fill: rgb(21, 21, 21);
}
