.Body {
  width: 100%;
  height: 91.8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(21,21,21);
}

.Body > div {
  width: 100%;
  border-top: 2px solid rgb(51, 51, 51);
  border-bottom: 2px solid rgb(51, 51, 51);
  background-color: rgb(32,32,32);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Body > div > h1, .Body > div > h3 {
  color: #e6e6e6;
  text-transform: uppercase;
  text-align: center;
}

.Body > div > h1 {
  font-size: 6.6rem;
}

.Body > div > h3 {
  font-size: 1.05rem;
  padding: 0 2.5rem;
}