.Header {
  color: #e6e6e6;
  font-size: 1.5rem;
  font-weight: 700;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header > div {
  margin-top: 3.5rem;
  margin-left: 10%;
  margin-right: 13%;
  text-shadow: 1px 1px 5px black;
}

.Step {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    rgba(32, 32, 32, 0),
    rgba(32, 32, 32, 1) 75%
  );
  align-self: flex-end;
}

.Section {
  color: #e6e6e6;
  padding: 1rem calc((100vw - 1250px) / 2);
  font-size: 1.5rem;
  font-weight: 700;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(21, 21, 21);
  border-top: 2px solid rgb(51, 51, 51);
  border-bottom: 2px solid rgb(51, 51, 51);
}

.Article {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Article > img {
  width: 100%;
  height: 390px;
}

.Article > div {
  font-size: 1rem;
  padding: 1.5rem;
}

@media screen and (min-width: 410px) {
  .Header > div {
    margin-right: 33%;
  }
  .Article > div {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 540px) {
  .Header > div {
    margin-right: 43%;
  }
}

@media screen and (min-width: 615px) {
  .Header > div {
    margin-right: 43%;
  }
  .Article {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 950px) {
  .Header {
    height: 17rem;
  }
  .Header > div {
    margin-right: 43%;
  }
  .Article {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .Article:nth-child(even) {
    flex-direction: row-reverse;
  }
  .Article:nth-child(even) > p {
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
  .Article > div {
    flex: 0.75;
    margin-top: -1rem;
    margin-bottom: -1rem;
    padding: 3rem 1.5rem;
  }
  .Article > img {
    flex: 0.6;
    margin: 0.5rem 1.5rem;
  }
}
